<div class="container">
  <h1>Tip Calculator</h1>
  <form [formGroup]="tipForm" (ngSubmit)="onSubmit()">
    <label for="cost">Total:</label>
    <input id="cost" formControlName="cost" type="number" required>

    <label>Service Quality</label>
    <div>
      <label><input type="radio" formControlName="quality" value="0.15"> Okay (15%)</label>
      <label><input type="radio" formControlName="quality" value="0.18"> Good (18%)</label>
      <label><input type="radio" formControlName="quality" value="0.20"> Excellent (20%)</label>
    </div>

    <label for="roundUp">Round up Tip (check box)</label>
    <input id="roundUp" formControlName="roundUp" type="checkbox">

    <button type="submit" [disabled]="!tipForm.valid">Calculate Tip</button>
  </form>
</div>

